{% load core_tags %}
<div class="video">
  <a href="/watch/{{ video.slug }}">
    <div class="video-thumbnail">
      <figure class="image is-16by9">
        <img
          class="video-thumbnail-image"
          src="{{ video.image_urls.thumbnail }}"
          alt="{{ video.profile.title }}"
          data-thumbnail="{{ video.image_urls.thumbnail }}"
          data-gif="{{ video.image_urls.gif }}"
        >
      </figure>
      <div class="video-thumbnail-display is-top">
        {% for badge in video.badges %}
          <span class="video-thumbnail-display-item {{ badge.css }}" title="{{ badge.label }}">
            <i class="{{ badge.icon }}"></i>
          </span>
        {% endfor %}
      </div>
      <div class="video-thumbnail-display is-bottom">
        <span class="video-thumbnail-display-item">{{ video.data.fps }}fps</span>
        <span class="video-thumbnail-display-item">{{ video.data.duration_str }}</span>
      </div>
    </div>
  </a>
  <div class="video-footer">
    <h3 class="video-title">
      <a href="/watch/{{ video.slug }}">
        {{ video.profile.title }}
      </a>
    </h3>
    <div class="has-text-grey">
      {% if video.points_count %}
        <span><i class="fas fa-star with-text"></i>{{ video.points_count }}</span>
      {% endif %}
      {% if video.favorites_count %}
        <span><i class="fas fa-plus with-text"></i>{{ video.favorites_count }}</span>
      {% endif %}
      {% if video.comments_count %}
        <span><i class="fas fa-comments with-text"></i>{{ video.comments_count }}</span>
      {% endif %}
    </div>
  </div>
</div>
