{% extends 'base.html' %}
{% load core_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}ツクリガ -Tsukuriga- 自主制作アニメ、パラパラ漫画の投稿プラットフォーム{% endblock %}
{% block ogp_title %}ツクリガ -Tsukuriga- 自主制作アニメ、パラパラ漫画の投稿プラットフォーム{% endblock %}
{% block ogp_image %}{{ '/assets/images/ogp.png'|to_absolute_path }}{% endblock %}

{% block content_2col %}
  <div class="column">
    <div class="container has-margin-bottom">
      <div class="content">
        <p class="title is-3">アニメーションしよう</p>
        <p class="subtitle is-6">Tsukuriga(ツクリガ)は、2D/3Dの自作アニメやパラパラ漫画を共有するための動画投稿サイトです。</p>
        <div class="buttons">
          <a class="button is-medium" href="/recent">見る</a>
          <a class="button is-medium" href="/pages">学ぶ</a>
          <a class="button is-medium" href="/upload">投稿する</a>
        </div>
      </div>
    </div>
    <section id="labels" class="section">
      {% include 'browse/components/section-title.html' with title="ラベル" %}
      <div class="columns is-multiline is-mobile">
        {% for label in labels %}
          <div class="column is-3-tablet is-6-mobile">
            <a href="/label/{{ label.slug }}" class="button is-{{ label.color }} is-fullwidth">
              <i class="{{ label.icon }} with-text"></i>{{ label }}</a>
          </div>
        {% endfor %}
        <div class="column is-3-tablet is-6-mobile">
          <a href="/label" class="button is-grey-lighter is-fullwidth">ラベル一覧<span class="icon is-marginless">
            <i class="fas fa-angle-right"></i>
          </span></a>
        </div>
      </div>
    </section>
    <section class="section">
      {% include 'browse/components/section-title.html' with title="ピックアップ" %}
      {% include 'browse/components/video-list.html' with videos=pickup_videos column_classes='is-one-third' %}
    </section>
    <section class="section">
      {% include 'browse/components/section-title.html' with title="ランダム新着" href="/recent" %}
      {% include 'browse/components/video-list.html' with videos=recent_videos %}
    </section>
    <section class="section">
      {% include 'browse/components/section-title.html' with title="ランキング" href="/ranking" %}
      {% include 'browse/components/video-list.html' with videos=ranking_videos %}
    </section>
  </div>
{% endblock %}

