{% extends 'base.html' %}
{% load core_tags %}
{% load render_bundle from webpack_loader %}

{% block title %}ツクリガ -Tsukuriga- 自主制作アニメ、パラパラ漫画の投稿プラットフォーム{% endblock %}
{% block ogp_title %}ツクリガ -Tsukuriga- 自主制作アニメ、パラパラ漫画の投稿プラットフォーム{% endblock %}
{% block ogp_image %}{{ '/assets/images/ogp.png'|to_absolute_path }}{% endblock %}

{% block content_2col %}
  <div class="column">
    <section class="section">
      {% include 'browse/components/section-title.html' with title="ラベル" %}
      <div class="columns is-multiline is-mobile is-centered">
        {% for label in labels %}
          <div class="column is-narrow is-narrow-padding">
            <a href="/label/{{ label.slug }}">
              <div class="{{ label.css_classes }} is-size-5-desktop is-size-6">
                {{ label }}
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </section>
    <section class="section">
      {% include 'browse/components/section-title.html' with title="ピックアップ" %}
      {% include 'browse/components/video-list.html' with videos=pickup_videos column_classes='is-one-third' %}
    </section>
    <section class="section">
      {% include 'browse/components/section-title.html' with title="ランダム新着" href="/recent" %}
      {% include 'browse/components/video-list.html' with videos=recent_videos %}
    </section>
    <section class="section">
      {% include 'browse/components/section-title.html' with title="ランキング" href="/ranking" %}
      {% include 'browse/components/video-list.html' with videos=ranking_videos %}
    </section>
  </div>
{% endblock %}

