{% extends 'base.html' %}
{% load core_tags %}

{% block page_title %}ラベル一覧{% endblock %}
{% block ogp_page_title %}ラベル一覧{% endblock %}

{% block content_2col %}
  <div class="column">
    <h1 class="title">ラベル一覧</h1>
    {% for label in labels %}
      <div class="columns">
        <div class="column">
          <a href="/label/{{ label.slug }}">
            <div class="tags has-addons">
              <span class="{{ label.css_classes }} is-large">
                {{ label }}
              </span>
              <span class="tag is-dark is-rounded is-large">
                {{ label.safe_videos_count }}
              </span>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}
    {% include 'base/components/pagination.html' %}
  </div>
{% endblock %}
