{% load core_tags %}
{% if page_obj.paginator.alt_page_range|length > 1 %}
  <nav class="pagination is-rounded is-centered" aria-label="pagination">
    <ul class="pagination-list">
      <li>
        <a class="pagination-link"
          {% if page_obj.has_previous %}
            href="{{ queries }}page=1"
          {% else %}
            disabled
          {% endif %}
        >
          <i class="fas fa-step-backward"></i>
        </a>
      </li>

      <li><span class="pagination-ellipsis">&hellip;</span></li>

      {% for num in page_obj.paginator.alt_page_range %}
        <li class="{% if num < page_obj.number|add:-2 or num > page_obj.number|add:2  %}is-hidden-mobile{% endif %}">
          {% if page_obj.number == num %}
            <span class="pagination-link is-current">{{ num }}</span>
          {% else %}
            <a class="pagination-link" href="{{ queries }}page={{ num }}">{{ num }}</a>
          {% endif %}
        </li>
      {% endfor %}

      <li><span class="pagination-ellipsis">&hellip;</span></li>

      <li>
        <a class="pagination-link"
          {% if page_obj.has_next %}
            href="{{ queries }}page={{ page_obj.number|add:1 }}"
          {% else %}
            disabled
          {% endif %}
        >
          <i class="fas fa-step-forward"></i>
        </a>
      </li>
    </ul>
  </nav>
{% endif %}
