<div class="dropdown is-hoverable is-small is-right">
  <div class="dropdown-trigger">
    <button class="button is-small" aria-haspopup="true" aria-controls="user-dropdown-menu">
      <span class="icon"><i class="fas fa-ellipsis-h"></i></span>
    </button>
  </div>
  <div class="dropdown-menu" id="user-dropdown-menu" role="menu">
    <div class="dropdown-content">
      <a
        id="v-mute-button"
        class="dropdown-item"
        @click="toggleMute"
        ref="muteButton"
        data-target-username="{{ account.username }}"
      >ミュート<span v-cloak>[[ label ]]</span></a>
    </div>
  </div>
</div>
