{% extends 'base.html' %}
{% load core_tags %}

{% block page_title %}{{ page.title }}{% endblock %}
{% block ogp_page_title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block ogp_description %}{{ page.description }}{% endblock %}
{% block ogp_image %}{{ page.ogp_image }}{% endblock %}
{% block ogp_twitter_creator %}
  {% if page.author.has_twitter_auth %}
    @{{ page.author.twitter_info.screen_name }}
  {% endif %}
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
  <div class="column is-10">
    <div class="box">
      <h1 class="title">{{ page.title }}</h1>
      {% if user.is_staff %}
        <a class="button is-small is-pulled-right" href="/admin/pages/page/{{ page.id }}/change/">編集</a>
      {% endif %}
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li><a href="/pages">記事一覧</a></li>
          <li><a href="/pages?category={{ page.category }}">{{ page.get_category_display }}</a></li>
          <li class="is-active"><a href="/pages/{{ page.slug }}" aria-current="page">{{ page.title }}</a></li>
        </ul>
      </nav>
      <div class="content">
        {% autoescape off %}
          {{ page.body }}
        {% endautoescape %}
      </div>
      <div class="is-size-6">{{ page.created_at }}作成</div>
      <div class="is-size-7">{{ page.updated_at }}更新</div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="/assets/embed.js"></script>
  <script>
  for (el of document.querySelectorAll('blockquote')) {
    el.classList.add('twitter-tweet')
  }
  </script>
  <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
